body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke; /* Pastel lavender */
    background-size: 90%;
    font-size: small;
}

h3 {
    text-align: center;
}

#words {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
}

.word {
    padding: 3px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: grab;
}

.word.dragging {
    color: white;
    background-color: #dd0f57;
}

.groups {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 10px;
    margin-bottom: 10px;
    justify-items: center;
}

.group {
    padding: 10px;
    border: 2px dashed #ccc;
    min-height: 200px;
    width: 90%;
    background-color: #f9f9f9; /* Default pastel background color */
}

.group:nth-child(1) {
    background-color: #ffcccb; /* Pastel pink */
}

.group:nth-child(2) {
    background-color: #f1f1c1; /* Pastel yellow */
}

.group:nth-child(3) {
    background-color: #d1e7dd; /* Pastel green */
}

.group:nth-child(4) {
    background-color: #cce5ff; /* Pastel blue */
}

.group input {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
}

.group-words {
    min-height: 120px;
}
